* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header {
    /* max-height: 809px; */
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    text-align: right;
    /* flex-direction: column; */


    /* background-size: cover; */
}

.banner {
    padding-right: 230px;
    padding-top: 216px;
}


.banner-title {
    height: 228px;
    width: 525px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    padding-bottom: 24px;

}

.banner-info {
    width: 494px;
    height: 78px;
    line-height: 26px;
    /* text-align: right; */
    color: #444343;
    padding-bottom: 32px;
}

.banner-button {
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 167px;
}


.main-info {
    margin-top: 130px;
    display: flex;
    justify-content: center;

}

.failures-this-year {
    margin-left: 87px;

}

.failures {
    display: flex;
    align-items: center;
}

.failures-this-year-title {
    width: 288px;
    height: 94px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;

}

.failure-info {
    line-height: 26px;
    width: 416px;
    height: 104px;
    color: #444343;
    margin-bottom: 16px;
}

.contrary-beliefs p {


    margin-bottom: 8px;
    color: #444343;
}

.my-goals-container {
    text-align: center;
    display: flex;
    align-items: center;

}

.my-plans {
    max-width: 1141px;
    height: 300px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;


}

.my-plans-title {
    width: 179px;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

.my-goals {
    margin-left: 86px;

}

.my-goals-title {
    margin-top: 24px;
    width: 270px;
    height: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.my-goals-container {
    display: flex;
    justify-content: center;
}

.my-goals-description {
    margin-top: 16px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.mindset {
    background: linear-gradient(to right, purple, white), url(../images/watch.png);
    background-blend-mode: overlay;
    /* background-image: url(../images/watch.png); */
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-top: 125px;
    display: flex;
    align-items: center;
}

.mindset-info {
    padding-top: 59px;
    padding-left: 60px;
}

.mindset-title {
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.mindset-button {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 88px;
    height: 23px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: 0;
    margin-top: 24px;
    margin-bottom: 59px;
}

.footer {
    display: flex;
    justify-content: center;
    background: #151414;
    background-repeat: no-repeat;
    /* width: 1600px;*/
    height: 577px;
    background-size: cover;
    margin-top: 47px;
    color: #F8F8F8;

}

.footer-info {
    display: flex;
    /* padding-left: 230px; */
    /* padding-right: 230px; */
    padding-top: 130px;
}

.footer-future-title {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

}

.footer-future-info {
    padding-top: 16px;
    width: 485px;
    height: 78px;
    line-height: 26px;

}

#email {
    padding-top: 24px;
    width: 184px;
    height: 26px;

}

#phone {
    padding-top: 16px;

}

.follow-icons {
    padding-top: 32px;

}

.follow-icons img {
    margin-right: 17px;
}

.footer-subscribe {
    margin-left: 331px;

}

#subscribe {
    width: 123px;
    height: 29px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 31px;
}

.form-contact {
    display: flex;
    flex-direction: column;

}

#email-input {
    background: #151414;
    ;
    width: 325px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #FFFFFF;
    color: #F3F3F3;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: left;

}

#subscribe-button {
    width: 170px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
    background: #FFFFFF;
    border: 0;
    border-radius: 8px;
    margin-top: 16px;
}